<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LTI - Larsen & Toubro Infotech </title>
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    
</head>

<body>
<div class="row">
    <div class="main">
        <div class="card">
            <h2 style="text-align: center;">Register to explore amazing career opportunities</h2>
            <form>
                <div class="container">
                    <label for="uname"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="uname" [(ngModel)]=name required>

                    <label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="psw" [(ngModel)]=password required>

                    <label for="email"><b>Email Address</b></label>
                    <input type="email" placeholder="Enter Email Address" name="email" [(ngModel)]=email required>

                    <label for="city"><b>City</b></label>
                    <input type="text" placeholder="Enter City" name="city" [(ngModel)]=city required>

                    <label for="mobile"><b>Mobile No.</b></label>
                    <input type="tel" placeholder="Enter Mobile Number" id="mobile" [(ngModel)]=mobile required>
                    <span id="mbError" style="color: red;"></span>

                    <button type="submit" (click)='registerUser()'>Register</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>

</html>